body{
  padding: 0;
}

/* div{
  border: 2px solid black;
} */

/* Main Section */
.navbar{
  background-color: #453B20;
  padding: 0.5rem 6rem;
}

.brand-title{
  font-family: 'Playfair Display SC', serif;
  font-size: 5rem;
  font-weight: bold;
}

.main-title-responsive{
  font-size: 3rem;
  font-weight: bold;
}

.navbar-text{
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  padding-top: .7rem;
}

.nav-item{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  padding-right: 10.9rem;
  padding-top: .7rem;
}

.nav-element{
  color: #e1bb66;
}

.main-container{
  background-image: url('../imgs/deleesBackground.jpg');
  background-size: cover;
}

.main-text-section{
  padding: 8rem 6rem;
  text-align: justify;
}

.main-text-section h1{
  color: #fff;
  text-shadow: 3px 3px 5px #453B20;
}

.title-container{
  font-family: 'Playfair Display SC', serif;
  margin-bottom: 3rem;
}

.main-text-section p{
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
  text-shadow: 3px 3px 5px #453B20;
}

.contact-btn{
  background-color: Transparent;
  border: 2px solid #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
  color: #fff;
  width: 65%;
  padding: .7rem;
  text-shadow: 3px 3px 5px #453B20;
}

.contact-btn:hover{
  background-color: #e1bb66;
}

.msg-column{
  margin-top: 28%;
  margin-left: 25%;
}

.col-phone-call{
  margin-left: 25%;
  margin-top: 25%;
}

/*Services*/

#services{
  position: relative;
  padding: 6rem 6rem;
  background-color: #fff;
  text-align: justify;
}

#services h3{
  font-family: 'Playfair Display SC', serif;
  margin-bottom: 2rem;
  color: #e1bb66;
  font-size: 2.5rem;
  font-weight: bold;
}

.icon-service{
  text-align: center;
}

.img-icon{
  margin-bottom: 2rem;
}

/* About */

#about{
  padding: 6rem 6rem;
  background-color: #fff0cf;
}

#about h2{
  font-family: 'Playfair Display SC', serif;
  font-weight: bold;
  color: #e1bb66;
  font-size: 2.5rem;
  font-weight: bold;
}

.lawyer-img-comtainer{
  width: 100%;
  height: 20vh;
  margin-top: 3rem;
  background-image: url("../imgs/lawyer.jpg");
  background-position: center top;
  background-size: cover;
}

.about-us-text-container{
  padding-top: 3rem;
  text-align: justify;
  font-family: 'Montserrat', sans-serif;
}

/* Contact */
#contact{
  background-color: #fff;
}

#contact h2{
  font-family: 'Playfair Display SC', serif;
  color: #e1bb66;
  font-size: 2.5rem;
  font-weight: bold;
}

.btn-form-submit{
  background-color: #F88F01;
  color: #000;
  font-size: 1.3rem;
  margin-top: 1rem;
  width: 9rem;
}

.btn-form-submit:hover{
  background-color: #fff;
  color: #F88F01;
}

.form-validation{
  font-family: 'Montserrat', sans-serif;
  margin-top: 3rem;
  font-weight: bold;
  font-size: 1.1rem;
}

.contact-backgrund{
  background-image: url('../imgs/library.jpg');
  background-position: top;
  background-repeat: no-repeat;
}

.contact-layer{
  color: #fff;
  width: 100%;
  padding: 6rem 6rem;
}

.contact-info h3{
  font-family: 'Montserrat', sans-serif;
  margin-top: 6rem;
}

.contact-info p{
  font-size: 2rem;
}

.map-container{
  margin-top: 3rem;
  text-align: center;
}

#maps{
  padding: 6rem 6rem;
  background-color: #fff;
}

#gmap_canvas{
  width: 314px;
  height: 294px;
}

.mapouter{
  position:relative;
  text-align:right;
  height:294px;
  width:314px;
  margin-bottom:2rem;
}

.gmap_canvas{
  overflow:hidden;
  background:none!important;
  height:294px;
  width:314px;
}

/* Footer */

.footer{
  background-color: black;
  color: white;
  text-align: center;
  width: 100%;
  height: 10vh;
  padding: 3rem 6rem;
}

/* Responsive */

@media (max-width: 1024px){
  #gmap_canvas{
    width: 150px;
    height: 150px;
  }

  .mapouter{
    height:150px;
    width:150px;
    margin-bottom:2rem;
  }

  .gmap_canvas{
    height:150px;
    width:150px;
  }
}

@media (max-width: 500px) {

  .main-container{
    background-image: url('../imgs/deleesBackground.jpg');
    background-size: cover;
  }

  .main-text-section{
    padding: 6rem 2rem;
    text-align: justify;
  }

  .main-title-responsive{
    font-size: 2.3rem;
    text-align: left;
  }

  .main-text-section p{
    font-size: 1.2rem;
  }

  .brand-title{
    font-family: 'Playfair Display SC', serif;
    font-size: 3.5rem;
  }

  .contact-btn{
    font-size: 1.5rem;
    width: 100%;
    padding: .7rem;
  }

  .msg-container{
    margin-top: 3rem;
  }

  .msg-column{
    margin: auto;
  }

  .col-phone-call{
    margin: auto;
    margin-top: 25%;
  }

  .contact-backgrund{
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
  }

  #services{
    padding: 3rem 2rem;
    background-color: #fff;
    text-align: justify;
  }

  .icon-service{
    margin-top: 1.5rem;
  }

  #about{
    padding: 3rem 2rem;
  }

  .contact-layer{
    padding: 3rem 3rem;
  }

  #gmap_canvas{
    width: 150px;
    height: 150px;
  }

  .mapouter{
    height:150px;
    width:150px;
    margin-bottom:2rem;
  }

  .gmap_canvas{
    height:150px;
    width:150px;
  }

}
