body{
  padding: 0;
}

/* div{
  border: 2px solid black;
} */

/* Main Section */
.navbar{
  background-color: #4A6991;
  padding: 0.5rem 6rem;
}

.navbar-text{
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  padding-top: .7rem;
}

.nav-item{
  font-family: 'Montserrat', sans-serif;
  padding-right: 10.9rem;
  padding-top: .7rem;
}

.nav-element{
  color: #e1bb66;
}

.main-container{
  background-image: url('../imgs/deleesBackground.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.main-text-section{
  padding: 7rem 6rem;
  text-align: justify;
}

.main-text-section h1{
  color: #fff;
  font-size: 2.5rem;
  text-shadow: 3px 3px 5px #453B20;
}

.title-container{
  font-weight: bold;
  font-family: 'Playfair Display SC', serif;
  margin-bottom: 3rem;
}

.main-text-section p{
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
  text-shadow: 3px 3px 5px #453B20;
}

.contact-btn{
  background-color: Transparent;
  border: 2px solid #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
  color: #fff;
  width: 65%;
  padding: .7rem;
  text-shadow: 3px 3px 5px #453B20;
}

.contact-btn:hover{
  background-color: #e1bb66;
}

.msg-column{
  margin-top: 28%;
  margin-left: 25%;
}

.col-phone-call{
  margin-left: 25%;
  margin-top: 25%;
}

/*Services*/

#services{
  padding: 6rem 6rem;
  background-color: #fff;
  text-align: justify;
}

#services h3{
  font-family: 'Playfair Display SC', serif;
  margin-bottom: 4rem;
  color: #e1bb66;
  font-size: 2.5rem;
  font-weight: bold;
}

#services h2{
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 3rem;
  color: #354157;
}

.menu-container{
  padding: 0;
  border-right: 2px solid #4a6991;
}

.nav-column{
  font-family: 'Montserrat', sans-serif;
  color: #4a6991;
  margin-bottom: 2rem;
  font-weight: bold;
}

.service-p{
  text-align: justify;
  font-family: 'Montserrat', sans-serif;
}

/* About */

#about h2{
  font-family: 'Playfair Display SC', serif;
  font-weight: bold;
  color: #e1bb66;
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 3rem;
  text-align: left;
}

#about p{
  text-shadow: 3px 3px 5px #000;
  text-align: justify;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  font-size: 1.2rem;
}

.about-background{
  background:url('../imgs/library.jpg');
  background-size: cover;
  width: 100%;
}

.about-layer{
  background-color: rgba(195, 202, 214, 0.4);
  padding: 6rem;
  width: 100%;
  height: 100%;
}


/* Contact */
#contact{
  background-color: #fff;
}

#contact h2{
  font-family: 'Playfair Display SC', serif;
  color: #e1bb66;
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 3rem;
}

#contact h3{
  color: #4A6991;
  margin-top: 3rem;
}

#contact p {
  font-size: 1.5rem;
}

.contact-layer{
  width: 100%;
  padding: 6rem 6rem;
}

.contact-content{
  font-family: 'Montserrat', sans-serif;
}

/* .btn-form-submit{
  background-color: #F88F01;
  color: #000;
  font-size: 1.3rem;
  margin-top: 1rem;
  width: 9rem;
}

.btn-form-submit:hover{
  background-color: #fff;
  color: #F88F01;
}

.form-validation{
  font-family: 'Montserrat', sans-serif;
  margin-top: 3rem;
  font-weight: bold;
  font-size: 1.1rem;
}

.contact-layer{
  width: 100%;
  padding: 6rem 6rem;
}

.contact-info h3{
  font-family: 'Montserrat', sans-serif;
  margin-top: 6rem;
}

.contact-info p{
  font-size: 2rem;
} */

/* Footer */

.footer{
  background-color: black;
  color: white;
  text-align: center;
  width: 100%;
  height: 10vh;
  padding: 3rem 6rem;
}

/* Responsive */

@media (max-width: 1024px){
  .navbar{
    background-color: #40557D;
    padding: 0.5rem 4rem;
  }

  .nav-item{
    padding-right: 9rem;
    padding-top: .7rem;
  }

  .nav-link{
    font-size: 0.8rem;
  }
}

@media (max-width: 500px) {

  /* Main */

  .navbar{
    background-color: #40557D;
    padding: 0.5rem 0;
  }

  .nav-item{
    padding: 0;
  }

  .nav-link{
    font-size: 0.8rem;
  }

  .main-text-section h1{
    font-size: 1.8rem;
    text-align: left;
  }

  .main-container{
    background-size: contain;
    width: 100%;
    height: 45vh;
  }

  .main-text-section{
    padding: 5rem 1rem 1rem;
    text-align: justify;
  }

  .main-paragraph{
    display: none;
  }

  .main-button-container{
    display: none;
  }

  /* Services */

  #services{
    position: relative;
    padding: 3rem 2rem;
    background-color: #fff;
    text-align: justify;
  }

  #services h3{
    font-size: 2rem;
    margin-bottom: 3rem;
  }

  .nav-column{
    font-family: 'Montserrat', sans-serif;
    color: #4a6991;
    font-weight: bold;
    font-size: 1rem;
  }

  /* About */
  #about h2{
    font-size: 2rem;
    margin-bottom: 3rem;
  }

  .about-background{
    background:url('../imgs/library.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
  }

  .about-layer{
    padding: 2rem;    
  }

  /* Contact */
  #contact h2{
    font-family: 'Playfair Display SC', serif;
    color: #e1bb66;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 2rem;
  }

  .contact-layer{
    width: 100%;
    padding: 2rem 2rem;
  }

}
